In [2]:
import pandas as pd
train=pd.read_csv('./data/train.csv')

In [3]:
import matplotlib as mpl
import matplotlib.pyplot as plt

In [ ]:
def onehot(df, columns_list):
    import pandas as pd
    len_list=len(columns_list)
    for i in range(len_list):
        len_cat=len(df.groupby(columns_list[i]))
        catrzed=pd.get_dummies(df[columns_list[i]])
        cat_list=[]
        for j in range(len_cat):
            cat_list.append(df.groupby(columns_list[i]).count().index[j])
        df[cat_list]=catrzed
        df=df.drop([columns_list[i]], axis=1)
    return df

In [7]:
train.loc[train['PoolArea']==0,['Id']]

        Id
0        1
1        2
2        3
3        4
4        5
...    ...
1455  1456
1456  1457
1457  1458
1458  1459
1459  1460

[1453 rows x 1 columns]

In [57]:
train.set_index('LotArea').loc[8450,'Id':'Street']

          Id  MSSubClass MSZoning  LotFrontage Street
LotArea
8450       1          60       RL         65.0   Pave
8450     217          20       RL         65.0   Pave
8450     420          20       RL         65.0   Pave
8450     699          20       RL         65.0   Pave
8450     743          20       RL         65.0   Pave
8450     959          20       RL         65.0   Pave

In [86]:
train.loc[train['LotArea']<8451,'MSSubClass':'Street'].groupby('LotArea').agg(['sum', 'mean', 'std']).describe()

        MSSubClass                          LotFrontage
               sum        mean         std          sum        mean        std
count   328.000000  328.000000   61.000000   328.000000  280.000000  51.000000
mean    117.743902   77.714339   16.871049    72.893293   54.305525   3.261587
std     154.087335   51.160840   23.603027   121.925972   17.301853   5.674197
min      20.000000   20.000000    0.000000     0.000000   21.000000   0.000000
25%      30.000000   30.000000    0.000000    35.750000   42.000000   0.000000
50%      75.000000   60.000000   11.547005    57.500000   57.000000   0.000000
75%     150.000000  120.000000   26.301297    70.000000   65.000000   5.363657
max    1600.000000  190.000000  120.208153  1512.000000  153.000000  21.679483

In [89]:
train.set_index('LotArea').reset_index()

,LotArea,Id,MSSubClass,MSZoning,LotFrontage,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,8450,1,60,RL,65.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,9600,2,20,RL,80.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,11250,3,60,RL,68.0,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,9550,4,70,RL,60.0,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,14260,5,60,RL,84.0,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,1456,60,RL,62.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,13175,1457,20,RL,85.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,9042,1458,70,RL,66.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,9717,1459,20,RL,68.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,9937,1460,20,RL,75.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [142]:
train.groupby(['MSZoning','Street']).agg(['mean','sum']).unstack().loc[:,'Id':'LotArea']

                  Id                               MSSubClass             \
                mean                 sum                 mean
Street          Grvl        Pave    Grvl      Pave       Grvl       Pave
MSZoning
C (all)   937.500000  522.125000  1875.0    4177.0       25.0  63.750000
FV               NaN  707.030769     NaN   45957.0        NaN  90.461538
RH               NaN  860.437500     NaN   13767.0        NaN  80.312500
RL        701.333333  737.371080  2104.0  846502.0      100.0  49.242160
RM         53.000000  700.898618    53.0  152095.0       90.0  84.907834

                         LotFrontage                                  LotArea  \
            sum                 mean               sum                   mean
Street     Grvl     Pave        Grvl       Pave   Grvl     Pave          Grvl
MSZoning
C (all)    50.0    510.0        93.0  63.875000  186.0    511.0  13356.000000
FV          NaN   5880.0         NaN  59.491228    NaN   3391.0           NaN
RH          NaN   1285.0         NaN  58.923077    NaN    766.0           NaN
RL        300.0  56530.0        65.5  74.700000  131.0  68724.0  70544.666667
RM         90.0  18425.0       110.0  52.075758  110.0  10311.0   8472.000000


                             sum
Street            Pave      Grvl        Pave
MSZoning
C (all)    8537.625000   26712.0     68301.0
FV         6638.861538       NaN    431526.0
RH         7380.062500       NaN    118081.0
RL        11417.703833  211634.0  13107524.0
RM         6370.133641    8472.0   1382319.0

In [148]:
data=train.set_index(['MSZoning','Street'])

In [170]:
train.set_index(['MSZoning','Street']).stack().reset_index()

       MSZoning Street        level_2       0
0            RL   Pave             Id       1
1            RL   Pave     MSSubClass      60
2            RL   Pave    LotFrontage    65.0
3            RL   Pave        LotArea    8450
4            RL   Pave       LotShape     Reg
...         ...    ...            ...     ...
108370       RL   Pave         MoSold       6
108371       RL   Pave         YrSold    2008
108372       RL   Pave       SaleType      WD
108373       RL   Pave  SaleCondition  Normal
108374       RL   Pave      SalePrice  147500

[108375 rows x 4 columns]

In [6]:
train.loc[:,'Condition1':'Condition2'].isnull().sum()

Condition1    0
Condition2    0
dtype: int64

In [19]:
train.loc[train['Condition2']=='Norm']

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500